{% extends 'artfwh/articles_about_base.html' %}
{% load static %}

{% block navA %}
    {% for abou in Abou %}
        <ul>
            <li>
                <a href="{% url 'artfwh:about' about_id=abou.id %}">{{ abou.title }}</a>
            </li>
        </ul>
    {% endfor %}
    <hr>
    <hr>
    <a href="{% url 'artfwh:artTop' %}">Top</a>

{% endblock %}


{% block mainA %}
    {{ about2.title }}
    {{ about2.textMore | safe }}
{% endblock %}
{% block mainB %}
    {{ about2.ArtText | safe }}
{% endblock %}