{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title> FWH main </title>
    <meta name="description" content="{% block meta_description %}歴史とClassicの詳細に関する、自分用のノートです。{% endblock %}">
    <link rel="stylesheet" type="text/css" href="{% static 'artfwh/css/artfwhMain_layout.css' %}">
</head>

<body>

<div id="container4"> <!-- コンテナ -->
    <div id="itemA" style="background-image: url('{% static " artfwh/img/IMG_0145.JPG" %}'); background-size: 200px 100px;">IMGPIC
</div>
<div id="itemB"><h1> From World History </h1></div>
<div id="itemC">MAINNAV</div>
</div>

<div id="container5"> <!-- コンテナ -->
    <div id="itemD">navA<br>
        <a href="{% url 'artfwh:about' %}">About</a>
    </div>
    <div id="itemE">main<br>
        {% block main %}{% endblock %}
    </div>
    <div id="itemF">sideB</div>
</div>

<div id="container6"> <!-- コンテナ -->
    <div id="itemG">footer<br><a href="{% url 'artfwh:artTop' %}">Top</a></div>
</div>

</body>
</html>