{% extends 'artfwh/articles_main_base.html' %}
{% load static %}

{% block main %}
    <p>
        人工抗体とは、新型コロナに感染し回復したヒトから有効な抗体を取り出し、そのコピーを大量生産した薬品のこと

        1月23日、島根大学と長崎大学が発表「新型コロナウイルスのスパイクタンパク質に対する抗体を作製」
        （本来なら、感染やワクチンの接種により体内で作られるウイルスへの抗体を人工的に作り出すことに成功した）

        アメリカでは、すでに2020年から使われ始めている2つの「人工抗体」。
        　その1つは、2020年10月時点でトランプ前大統領の治療に使われた


        米バイオ医薬品企業リジェネロン・ファーマシューティカルズが開発した新型コロナウイルスの治療薬について、緊急使用許可を出したと発表した。トランプ米大統領がコロナに感染した際、未承認ながら特例で投与を受け、効果を強調した薬で、リジェネロンは来年１月末までに３０万人分を供給するとしている。

        重症患者の治験停止　トランプ氏服用のコロナ薬
        　リジェネロンの薬は、バイオ技術によって作られた２種類の抗体を「カクテル」として組み合わせて使用する。体内に抗体を直接送　り込むことでウイルスに対する防御力を強化する効果が期待されている。ＦＤＡは、コロナ感染者を対象とした臨床試験（治験）で　入院や救急外来受診に至る事例を減らす結果が示された」と説明した。
        　緊急使用が認められるのは、軽度から中程度の症状で重症化リスクのある患者。
        入院患者や酸素吸入治療が必要な患者については、　有効性が示されていないとして対象外</p>
{% endblock %}