{% extends 'artfwh/articles_about_base.html' %}
{% load static %}

{% block mainA %}
    <p>
        その病気に対する十分な抵抗力を得ること
        「免疫」を持つ・・・「疫（えやみ＝やまい）」から「免れる」(※えやみ（疫病えきびょうとも読む）..流行病の昔の言い方。)

        病気の中には、乳幼児期にかかっても軽く済むが、大人になってからかかると重いものがあり、
        予防接種をうまく利用することで病気にかかる心配を少なくすることができる。

        予防接種（ワクチンを接種すること）
        定期接種
        Ａ類疾病（集団予防目的に比重が置かれていて、予防接種を受けるよう努めなければならない（努力義務））
        「ポリオ、結核（ＢＣＧ）、ジフテリア、百日咳、破傷風、麻疹、風疹、水痘、日本脳炎、小児の肺炎球菌感染症、Ｈｉｂ感染症、ヒトパピローマウイルス感染症、B型肝炎」

        Ｂ類疾病（個人予防目的に比重を置かれ、、努力義務はない）
        「インフルエンザ、高齢者の肺炎球菌感染症（Ｂ類疾病）」
        任意接種（出来れば受けるべき）
        「ロタウイルス感染症、おたふくかぜ、Ａ型肝炎などの予防接種」
        しかし、任意接種であっても、重い後遺症を残したり、死亡の危険性もある病気のための ワクチンであることには変わりない

        適応力の大きい乳幼児の時や健康な時に
        あらかじめ「免疫をつくる種（たね）」＝「ワクチン」を注射したり皮膚に付け、
        その病気に対する免疫力を造る
        ※（ドイツ語「バクチーン」を借りた言葉で「種痘」と翻訳）
        集団免疫・・・※1
        ワクチンの作り方（三つの方法）・種類
        「生ワクチン」（病原体（ウイルスや細菌など）は生きているが、病原体のウイルスや細菌が持っている病原性を弱めたもの）
        その病気に自然にかかった状態とほぼ同じ免疫力がつきます。病原性を弱くしたウイルスや細菌が身体の中で徐々に増えるので、接種後１～３週間に自然にかかったのと同じような軽い症状が出ることがあります。
        代表的なワクチンとしては、ＭＲ（麻しん風しん混合）、麻しん（はしか）、風しん、水痘（みずほうそう）、ＢＣＧ（結核）、おたふくかぜなどのワクチン

        「不活化ワクチン」「組換えタンパクワクチン」（病感染力をなくした病原体や、病原体を構成するたんぱく質からできたもの）
        生ワクチンに比べて免疫力がつきにくいので、何回かに分けて接種します。
        代表的なワクチンとしては、ＤＰＴ－IPV四種混合（Ｄ：ジフテリア・Ｐ：百日せき・Ｔ：破傷風・ＩＰＶ：不活化ポリオ）、ＤＴ二種混合（Ｄ：ジフテリア・Ｔ：破傷風）、日本脳炎、インフルエンザ、Ａ型肝炎、Ｂ型肝炎、肺炎球菌、ヒトパピローマウイルスワクチンなど
        cf.「トキソイド」（細菌の産生する毒素（トキシン）を取り出し、免疫を作る能力は持っているが毒性は無い（無毒化）したもの）
        ジフテリア、破傷風のワクチン（不活化ワクチンとして分類されることもある。）

        「メッセンジャーRNAワクチン、DNAワクチン、ウイルスベクターワクチン」
        （ウイルスを構成するタンパク質の遺伝情報を投与し、それをもとに、体内でウイルスのタンパク質を作り、そのタンパク質に対する抗体が作られることで免疫を獲得）
        新型コロナウイルスの表面にあるタンパク質に対するワクチンが初めて海外で承認を受けた

        体質、その時の体調などによって抵抗力が得られない場合があるが、

        ウイルスや細菌に一度感染すると身体の中に、その病気に対する抵抗力（免疫）がついて、この記憶は身体の中に長く残り、
        　多くの病気は「一度かかると二度とかからない」か、「かかっても軽く住む」
        例外として、インフルエンザなど、毎年少しずつ性質を変化させる病原体による病気

        最近は、予防接種のおかげでこれらの病気（感染症）が日本ではほとんど無くなったため、
        　予防接種で得られた免疫を保つような刺激が身体の中で起こらず、徐々に免疫が低下し、大人になってかかる人がごくわずかいる

        ワクチンによって違いますが、十分な免疫ができるのはワクチンを接種してからひと月ぐらいかかる

        恐い感染症から赤ちゃんを守るために最も確実な方法は予防接種しかありません

        副反応・・・
        予防接種の後に、熱が出たり、機嫌が悪くなったり、はれたり、しこりがでたりする
        （ほとんどが2～3日で自然に消える）
        （ほとんどがいわば生体の反応である一時的な症状）
        （本当にかかったリスクに比べると軽く）
        （重度の副反応はきわめてまれ）
        　定期の予防接種による副反応で医療費を要した場合、後遺症が残った場合、死亡した場合などは国がその被害を救済（予防接種法による救済制度）。
        　　任意の予防接種の場合や予防接種法で定められた予防接種を定期の接種の年齢枠以外で受けて健康被害が生じた場合は、薬剤による副作用と同じ扱いになり、医薬品医療機器総合機構（PMDA）という組織によって救済されます

        　ワクチンの注意点
        予防接種を受けたあと30分間は、急な副反応はこの間に起こることがある
        生ワクチンでは3週間、不活化ワクチンでは24時間は副反応の出現に注意

        ※1.集団免疫・・・
        ある病原体に対して、人口の一定割合以上の人が免疫を持つと、
        感染患者が出ても、
        他の人に感染しにくくなることで、
        感染症が流行しなくなり、
        間接的に免疫を持たない人も感染から守られる状態

        ワクチンによっては、接種で重症化を防ぐ効果があっても感染を防ぐ効果が乏しく、どれだけ多くの人に接種しても集団免疫の効果が得られないこともあります。
        　　　　新型コロナワクチンによって、集団免疫の効果があるかどうかは分かっておらず、分かるまでには、時間を要する

        【厚生省】
        新型コロナワクチン総論
        ファイザー社、モデルナ社、アストラゼネカ社などが、ワクチン開発を手掛けています。

        日本政府は、これらの製薬企業３社から合計で２億9,000万回分の供給を受けることについて合意。（１人に２回接種を行うとした場合１億4,500万人分）
        　（日本では、ファイザー社から昨年12月18日に承認申請が行われ、現在、医薬品医療機器総合機構（PMDA）において承認審査が行われています。）

        新型コロナワクチンの効果
        試験の結果、ワクチンを投与された人の方が、投与されていない人よりも、新型コロナウイルス感染症を発症した人が少なかったと発表されています。
        （臨床試験や接種が始まってから時間があまり経過していないことから、効果の持続期間については明らかになっていません。）

        日本への供給を計画している海外のワクチン（ファイザー社、アストラゼネカ社、モデルナ社、ノババックス社が開発中のワクチン）では、ワクチン接種後に、ワクチン接種と因果関係がないものも含めて、接種部位の痛みや、頭痛･倦怠感･筋肉痛等の有害な事象がみられた
        また、海外で既に実施されている予防接種においては、まれな頻度でアナフィラキシー（急性アレルギー反応）が発生した
        （「アナフィラキシー」・・アレルゲンなどが体内に入ることによって、複数の臓器や全身にアレルギー症状が表れ、命に危険が生じ得る過敏な反応が出ること）
        （「アレルゲン」・・アレルギー疾患を持っている人の抗体と特異的に反応する抗原（そのアレルギー症状を引き起こす原因となる物質）
        （例えば、インフルエンザワクチン接種後の副反応疑い報告では、因果関係があるかどうか分からないものも含め、１シーズンで、約20件のアナフィラキシーが報告）

        米国の疾病予防管理局（CDC）は、他のワクチンや食べ物に対して、重いアレルギーのある方も、新型コロナワクチンの接種が可能としています。
        （一方、過去に新型コロナワクチンに対して、アナフィラキシーなど重いアレルギー反応を起こした方や、同ワクチンに含まれるポリエチレングリコール（PEG）やポリソルベート(※)に対して重いアレルギー反応を起こしたことがある方への接種は推奨していません。）
        　（（(※)ポリエチレングリコールは、一般に、大腸検査の下剤や薬剤などを溶かす際に用いられます。また、ポリソルベートは、乳化剤として、様々な食品に用いられています。））

        米国において、ファイザー社の新型コロナワクチン接種後に報告されたアナフィラキシーは、
        　2021年１月18日時点で、50例（9,943,247回中）（100万回あたり5例）で、接種後90％が接種後30分以内に症状が現れています。
        　また、80％にアレルギーの既往（きおう）があり、24％にはアナフィラキシーの既往があったと報告されています。 　

        新型コロナワクチンの安全性　
        臨床試験では、有効性・安全性等に関するデータを収集するため、健康な方や患者さんに協力してもらい、開発中のワクチンを実際にヒトに投与して試験
        その後、臨床試験の結果などに基づいて、ワクチンの有効性・安全性、品質についての審査が行われ、ワクチンが承認されます

        これまで我が国において使用されていたワクチン（不活化ワクチン、組換えタンパクワクチン、ペプチドワクチン）は、
        　ウイルスの一部のタンパクを人体に投与し、それに対して免疫が出来る仕組み
        mRNA（メッセンジャーＲＮＡ）ワクチンでは、
        　ウイルスのタンパク質をつくるもとになる情報の一部を注射します。
        　人の身体の中で、この情報をもとに、ウイルスのタンパク質の一部がつくられ、それに対する抗体などができる
        　（mRNAは、人の遺伝情報（DNA）に組みこまれるものではありません。身体の中で、人の遺伝情報（DNA）からmRNAがつくられる仕組みがありますが、情報の流れは一方通行で、逆にmRNAからはDNAはつくられません）・・遺伝情報に取り込まれることはない

        ※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※
        適応免疫（獲得免疫）
        自然免疫で排除できなかった異物に対しては，第 3 の防御機構である適応免疫（獲得免疫）が働きます。　　
        適応免疫では，異物に対してリンパ球が特異的に作用し， 1 度感染した異物の情報は記憶しています。←免疫記憶といいます
        適応免疫はリンパ球の働きの違いから，「体液性免疫」と「細胞性免疫」に分けられます。
        1 抗原　
        特異的な免疫反応（適応免疫のこと）を起こさせる異物を抗原と呼びます。
        抗原となるものには，細菌・カビ・ウイルスなどの病原体のほか，他の生物がもつタンパク質などの有機物・毒素，自分のがん細胞なども含まれます。
        2 免疫寛容
        個々のＢ細胞とＴ細胞は， 1 種類の抗原しか認識しません。
        しかし，さまざまな抗原を認識するＢ細胞やＴ細胞が次々と作られるため，リンパ球全体としてはあらゆる抗原を認識することができます。
        しかし，その中には，自己の成分を抗原として認識する細胞も生じます。ふつう，自己の成分を抗原と認識するＢ細胞やＴ細胞は成熟の過程で選別され，自ら死滅して排除されたり，　免疫反応が生じないようになったりしています。
        このように，ある抗原に対して，適応免疫の反応がみられない状態を免疫寛容といいます。


        「 体液性免疫　」
        Ｂ細胞が作る抗体が，細胞外に存在する抗原と結合して排除するしくみです。
        　1 体液性免疫のしくみ
        ① 体内に抗原が侵入すると，樹状細胞やマクロファージなどは抗原を食作用によって分解し，
        異物の一部を細胞表面に移動させ，細胞外に提示します。これを，抗原提示といいます。
        また，Ｂ細胞も抗原を取り込み，抗原提示します。

        ② ヘルパーＴ細胞は樹状細胞に提示された抗原を認識し，活性化します。
        活性化したヘルパーＴ細胞は，同一の抗原を提示しているＢ細胞の増殖を促進します。

        ③ 増殖したＢ細胞は，形質細胞（抗体産生細胞）に分化し，その抗原に特異的に結合する抗体を作り，血液中に放出します。

        ④ 抗体は抗原と結合（抗原抗体反応）し，溶菌・凝集（溶かす・固める）させて無毒化し，排除します。

        ⑤ Ｂ細胞とヘルパーＴ細胞の一部は記憶細胞となって体内に残り， 2 回目以降の同じ抗原の侵入に備えます。
        　　　　　　　　　　 抗体の構造
        抗体は，免疫グロブリン（Ig）というタンパク質からなります。
        抗体は，Ｈ鎖（重鎖）とＬ鎖（軽鎖）が 2 本ずつ，計 4 本のポリペプチド鎖がＹ字型に結合してできています。
        抗原と結合する可変部の構造は抗体によって異なり，可変部に合致する構造とだけ結合
        ※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※
        細胞性免疫　
        抗体が関係せずに，キラーＴ細胞が，ウイルスや細菌に感染した細胞・がん細胞・
        移植組織の細胞などを直接攻撃し，排除するしくみです。
        1 細胞性免疫のしくみ　※キラーT 細胞の活性化にはヘルパーT 細胞が働く場合もあります。
        ① 樹状細胞から抗原提示を受けたヘルパーＴ細胞は，マクロファージを活性化
        させ，マクロファージの食作用を促進します。
        ② 樹状細胞から抗原提示を受けたキラーＴ細胞は，ウイルスなどに感染した細
        胞や，がん細胞や移植臓器などを直接攻撃し破壊します。
        ③ キラーＴ細胞とヘルパーＴ細胞の一部は，記憶細胞として体内に残ります。
        次の文中の空欄に適語を入れなさい。
        ❶　　　　　　　　　は食作用によって得た抗原の情報を❷　　　　　　　　　
        と❸　　　　　　　　　　　　　に伝える。このことを❹　　　　　　　　　とい
        う。❷　　　　　　　　　　は❺　　　　　　　　　　　　　の食作用を促進する。
        ❸　　　　　　　　　　　　　はウイルスなどに感染した細胞を直接攻撃し，排除
        する。❸　　　　　　　　　　　　　は❻　　　　　　　　　や移植をした組織な
        ども攻撃の対象とする。
        ❷　　　　　　　　　　　　　　　 や❸　　　　　　　　　　　　　 の一部は，
        ❼　　　　　　　　　として体内に残り，再度同じ抗原が侵入したときは速やかに
        働いてこれを排除する。
        ❶ 樹状細胞　❷ ヘルパーＴ細胞　❸ キラーＴ細胞　❹ 抗原提示　❺ マクロファージ
        ❻ がん細胞　❼ 記憶細胞
        ※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※
        ヌードマウス　偶然発見された，胸腺の無いマウス。無毛なのでヌードマウス
        と呼ばれます。このマウスは骨髄細胞があるのにＴ細胞が無いため，Ｔ細胞の分
        化に胸腺が重要な働きをしていることがわかりました。また，このマウスではＢ
        細胞は正常ですが，抗体産生機能もなくなっています。これは，Ｔ細胞が細胞性
        免疫だけでなく，Ｂ細胞を形質細胞へ分化させるのにも重要な働きをしているた
        めです。
        ヌードマウスは移植による拒絶反応も起こらないため，臓器移植の研究などに
        利用されています

        免疫の記憶
        1 一次応答　異物が体内に侵入すると，免疫系はゆっくりと反応して 1 ～ 2 週間
        かけて抗体を作りますが，抗体量は多くなく， 1 ヶ月を過ぎるとほぼ 0 になりま
        す。これを一次応答と呼びます。
        2 二次応答　刺激を受けたヘルパーＴ細
        胞とＢ細胞の一部は記憶細胞となって体
        内に残ります。記憶細胞は同じ抗原が体
        内に侵入したときには，一次応答よりも
        抗体を速やかに大量に産生し，しかも大
        量生産は 1 ヶ月以上も持続します。この
        反応を二次応答と呼びます。
        「 1 度かかった病気にはかかりにくい」
        のは，この二次応答が働くためです


        免疫の医療への応用
        1 予防接種
        適応免疫では， 1 度かかった感染症に対して強い抵抗力を長くもち続けます。
        この性質を利用して，病原体を弱めたり無毒化したりして作った抗原であるワク
        チンを接種して，抗体や記憶細胞を作らせ，免疫記憶を成立させます。
        例　インフルエンザ，結核（BCG），天然痘（種痘），ポリオ（ソークワクチン）
        2 血清療法
        毒ヘビにかまれた時などのように，毒素を速やかに排除しなければならない時
        は，抗体を含む血清を直接注射します。抗体は，あらかじめ他の動物に抗原を接
        種して抗体を作らせ，その血清を採取して得ます。
        例　ヘビ毒，ジフテリア，破傷風など緊急を要する場合
        3 ツベルクリン反応
        結核菌に対する記憶細胞の有無を調べる方法です。結核菌のタンパク質（抗原）
        を皮下に注射すると，結核菌に対する免疫記憶ができている場合には細胞性免疫
        により，赤く腫れます。
        4 ABO式血液型
        抗体には，抗原の有無にかかわらず生まれつきもっているものもあります。
        赤血球の表面には， 2 種類の抗原（凝
        集原；Ａ型とＢ型）があります。それら
        に対する抗体（凝集素）も 2 種類あり，抗
        Ａ抗体（α）と抗Ｂ抗体（β）と呼びます。
        ABO 式の血液型はこの抗原と抗体の
        組合せによって 4 種類に分けられます
        （右表参照）。抗原と抗体が出会うと，抗
        原抗体反応を起こし，赤血球が凝集して
        塊を作ります。
    </p>
{% endblock %}